// Specific CSS for your home-page
.home_container{
  width: fit-content;
  margin: 0 auto;
  padding: 150px;


h1 {
  font-weight: 800;
  font-size: 60px;
  padding: 0px 120px;
  color: white;
}

p {
  font-size: 19px;
  text-decoration: overline underline;
  color: white;
  font-style: italic;
  font-weight: 500;
}

.btn-primary {
  color: white;
  background-color: rgb(7, 219, 7);
  border-radius: 5px;
  border-radius: 100px 40px 100px 40px;
  font-weight: 500;
  font-style: italic;

  &:hover {
    background-color: black;
  }

}

.form-control {
  border-radius: 100px 40px 100px 40px;
  width: 600px;
}

.btn-signup {
  padding: 15px 280px;
}

.input-group {
  width: 700px;
}

}
.fondo{
  background-image: url('fondo2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
