.newgame-container {
  padding: 0px 0px 20px;

  .container-formnew {
    background-color: #1F0A4E;
    border-radius: 10px;
  }

  .title-formnew {
    padding: 30px 0px 0px;
  }

  h2 {
    color: white;
    padding-bottom: 15px;
    font-weight: bold;
  }

  .newgame-form {
    color: white;
  }

  .btn-success {
    background-color: rgb(7, 219, 7);
    font-weight: 600;
    font-style: italic;
    color: white;
    border-radius: 100px 40px 100px 40px;

    &:hover{
      background-color: black;
      color: white;
    }
  }
}
