<div class="container">
  <div class="col-8 mx-auto class=">
    <div class="booking-new-card mt-5">
      <div>
        <%= simple_form_for [@videogame, @booking]  do |f| %>
          <p><%= f.input :star_date %></p>
          <p><%= f.input :end_date %></p>
          <%= f.submit "Save", class: "btn btn-success mx-2 my-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
