<div class="container">
  <div>

        <%= simple_form_for [@videogame, @booking]  do |f| %>
        <%= f.input :star_date %>
        <%= f.input :end_date %>
        <%= f.submit "Save" %>
      <% end %>

  </div>


</div>
