<div class="home_container">
  <br>
  <h1>GAME FINDER</h1>
  <p>NEW GAMES EVERY DAY</p>
  <div class="input-group mb-3" data-controller="home">

      <form class="d-flex mx-auto" data-action="click->home#busqueda" action="videogames" >
        <input type="search" class="form-control me-2" placeholder="Call of Duty" name="query" aria-label="Call of Duty" aria-describedby="button-addon2" value="" data-home-target="search" id="busq">
        <button class="btn btn-primary" type="submit" class="form-control" data-home-target="search"  id="botons" Onclick="setUrl(); return false;">Search</button>
      </form>

  </div>
  <div class= "btn-signup d-flex flex-column align-items-center">
  <form class ="justify-content-center" action="users/sign_up">
    <button type="submit" class="btn btn-primary btn-lg my-1" >Sign Up</button>
  </form>
   <form action="videogames" >
    <button type="submit" class="btn btn-primary btn-lg my-1" >START</button>
  </form>
  </div>
</div>
