<div class="home_container">
  <br>
  <h1>GAME FINDER</h1>
  <p>NEW GAMES EVERY DAY</p>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Call of Duty" aria-label="Call of Duty" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="submit">START!</button>
    <br>
  </div>
  <div class= "btn-signup">
    <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
  </div>
</div>
