.booking-new-card {
background-color: #1F0A4E;
padding: 15px;
color: white;
border-radius: 10px;
}

.booking-new-card .white-p {
  color: white;
}

.booking-new-card-dissatisfied {
  background-color: #1F0A4E;
  padding: 10px;
  color: white;
  border-radius: 10px;
  height: 165px;
  margin-bottom: 10px;
}
