.offer {
  font-size: 25px;
  color: #021074;
  font-weight: 900;
  letter-spacing: 10px;
  font-style: italic;
  text-shadow: 2px 1px 3px white;
  animation-name: offer;
  animation-duration: 270s;


  &:hover {
    color: white;
    text-shadow: 0 0 5px white;
  }

  @keyframes offer {
    0%   {color: #021074;}
    1%  {color: white}
    2%  {color: #021074;}
    3% {color: white;}
    4%  {color: #021074;}
    5% {color: white;}
    6%  {color: #021074;}
    7% {color: white;}
    8%  {color: #021074;}
    9% {color: white;}
    10%  {color: #021074;}
    11%  {color: white}
    12%  {color: #021074;}
    13% {color: white;}
    14%  {color: #021074;}
    15% {color: white;}
    16%  {color: #021074;}
    17% {color: white;}
    18%  {color: #021074;}
    19% {color: white;}
    20%  {color: #021074;}
    21%  {color: white}
    22%  {color: #021074;}
    23% {color: white;}
    24%  {color: #021074;}
    25% {color: white;}
    26%  {color: #021074;}
    27% {color: white;}
    28%  {color: #021074;}
    29% {color: white;}
    30%  {color: #021074;}
    31%  {color: white}
    32%  {color: #021074;}
    33% {color: white;}
    34%  {color: #021074;}
    35% {color: white;}
    36%  {color: #021074;}
    37% {color: white;}
    38%  {color: #021074;}
    39% {color: white;}
    40%  {color: #021074;}
    41%  {color: white}
    42%  {color: #021074;}
    43% {color: white;}
    44%  {color: #021074;}
    45% {color: white;}
    46%  {color: #021074;}
    47% {color: white;}
    48%  {color: #021074;}
    49% {color: white;}
    50%  {color: #021074;}
    51%  {color: white}
    52%  {color: #021074;}
    53% {color: white;}
    54%  {color: #021074;}
    55% {color: white;}
    56%  {color: #021074;}
    57% {color: white;}
    58%  {color: #021074;}
    59% {color: white;}
    60%  {color: #021074;}
    61%  {color: white}
    62%  {color: #021074;}
    63% {color: white;}
    64%  {color: #021074;}
    65% {color: white;}
    66%  {color: #021074;}
    67% {color: white;}
    68%  {color: #021074;}
    69% {color: white;}
    70%  {color: #021074;}
    71%  {color: white}
    72%  {color: #021074;}
    73% {color: white;}
    74%  {color: #021074;}
    75% {color: white;}
    76%  {color: #021074;}
    77% {color: white;}
    78%  {color: #021074;}
    79% {color: white;}
    80%  {color: #021074;}
    81%  {color: white}
    82%  {color: #021074;}
    83% {color: white;}
    84%  {color: #021074;}
    85% {color: white;}
    86%  {color: #021074;}
    87% {color: white;}
    88%  {color: #021074;}
    89% {color: white;}
    90%  {color: #021074;}
    91%  {color: white}
    92%  {color: #021074;}
    93% {color: white;}
    94%  {color: #021074;}
    95% {color: white;}
    96%  {color: #021074;}
    97% {color: white;}
    98%  {color: #021074;}
    99% {color: white;}
    100%  {color: #021074;}
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: #0066cc;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: white;
  font-weight: 400;
  padding: 5px 20px;
  font-style: italic;
}

.navbar-nav li {
  color: white;
  padding: 5px;
  margin: auto 5px;
  font-weight: bold;
  font-style: italic;
}

.nav-link {
  border-radius: 5px;
  border-radius: 100px 40px 100px 40px;
  font-style: italic;

  &:hover {
    color: #021074;
  }

}

.m-nav-item {
  background-color: #021074;
  border-radius: 100px 40px 100px 40px;

  &:hover {
    background-color: #0720dc;
    color: white;
  }

  a:hover {
    color: white;
  }
}

.n-nav-item {
  background-color: #021074;
  border-radius: 100px 40px 100px 40px;

  &:hover {
    background-color: #0720dc;
    color: white;
  }

  a:hover {
    color: white;
  }
}

.nav-item {
  background-color: #021074;
  border-radius: 100px 40px 100px 40px;
}
