.profile-title {
background-color: #4618AC;
height: 140px;
border-radius: 5px;
}

.profile-title-title {
  display: flex;
  align-items: center;
}

.profile-btn-edit {
  position: relative;
  top: -10px;
}

.profile-avatar {
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
}
h3 {
  color: #FFCC32;
}

h2 {
  margin-right: 10px;
}
