.container-gamesprofile {

  p {
    color: white;
    font-style: italic;
  }

  .booking-status {
    background: #1F0A4E;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .btn-success a {
    color: white;
    text-decoration: none;

  }
}
