<div class="container">
  <div class="row ">

    <% @videogames.each do |game| %>
    <div class="card-group">
      <div class="card-group">
        <div class="card">
          <%= cl_image_tag game.gamepicture.key, class: "card-img-top", width: 150, height: 150 %>
          <div class="card-body">
            <h5 class="card-title"><%= game.title %></h5>
            <p><% game.status.to_i.times do%><i class="fa-regular fa-star star-color"></i><% end %></p>
            <p class="card-text"> <%= game.description %> </p>
            <p class="card-text"><small class="text-muted"> Owner: <%= game.user_id %></small></p>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
